.btn
    border: none
    border-radius: 5px
    padding: 15px
    font-weight: 600
    cursor: pointer
    &_green
        background: $light-green-color
        color: $white-color
    &_uppercase
        text-transform: uppercase
        