.form-input
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    margin: 15px 0

    .form-control
        height: 50px
        border: 1px solid $gray-color
        border-radius: 5px
        font-size: 1rem
        font-weight: 500
        padding: 0 15px
        color: $dark-font-color

        &::placeholder
            font-weight: 400
        
        &:focus, &:active 
            border: 1px solid $light-green-color
            outline: none
    &__icon
        position: absolute
        top: 50%
        right: 10px
        transform: translateY(-50%)
    &_error
        .form-control, 
        .form-control:focus,
        .form-control:active
            border-color: $error-red-color

.styled-checkbox
    display: inline-flex
    width: 30px
    height: 30px
    background: $base-bg-color
    border-radius: 50%
    align-items: center
    justify-content: center
    &_checked
        background: $light-green-color
        &::after
            content: ""
            display: block
            width: 12px
            height: 6px
            margin: 0 0 3px 1px
            border-bottom: 3px solid $white-color
            border-left: 3px solid $white-color
            transform: rotate(-45deg)
